##Created by https://www.gitignore.io
*.idea
.idea/
*.iml
*.a       # 忽略所有 .a 结尾的文件
!lib.a    # 但 lib.a 除外
/TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
build/    # 忽略 build/ 目录下的所有文件
doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
git rm -r --cached .
git add .
git commit -m 'update .gitignore'
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

*.log
*.csv
*.jl

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# mac ignore

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Xcode
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*~.nib
*.ipa
*.xccheckout
*.xcscmblueprint
.LSOverride

# CMake
build/

# IDEA files
.idea/workspace.xml
.idea/tasks.xml
.idea/*plugin.xml

# Pypi
*.rst
.editorconfig
.github/
*.yml
*.in
